                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-users fa-fw"></i> 会員管理<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                            <li>
                              <a href="/admin/customer/">会員一覧</a>
                            </li>
                            <li>
                              <a href="#">ダミ</a>
                            </li>
                          </ul>
                        </li> 
                        <li>
                          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> チケット管理<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                            <li>
                              <a href="/admin/ticket/">チケット一覧</a>
                            </li>
                            <li>
                              <a href="#">ダミ</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> タスク管理<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                            <li>
                              <a href="/admin/task/">タスク一覧</a>
                            </li>
                            <li>
                              <a href="#">ダミ</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-wrench fa-fw"></i> コンテンツ管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                  <a href="/admin/cms/page/">ページ管理</a>
                                </li>
                                <li>
                                  <a href="/admin/cms/view/">ビュー管理</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-wrench fa-fw"></i> プラグイン管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                  <a href="/admin/plugin/">プラグイン一覧</a>
                                </li>
                                <li>
                                  <a href="#">ダミ</a>
                                </li>
                            </ul>
                        </li>
                       <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> 設定<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                              <li>
                                <a href="#">基本設定 <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                  <li>
                                    <a href="/admin/setting/base/">基本設定1</a>
                                  </li>
                                  <li>
                                    <a href="/admin/setting/base/">基本設定2</a>
                                  </li>
                                  <li>
                                    <a href="/admin/setting/base/">基本設定3</a>
                                  </li>
                                  <li>
                                    <a href="/admin/setting/base/">基本設定4</a>
                                  </li>
                                </ul>
                                <!-- /.nav-third-level -->
                              </li>
                              <li>
                                <a href="#">システム設定 <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                  <li>
                                    <a href="/admin/setting/system/">システム設定1</a>
                                  </li>
                                  <li>
                                    <a href="/admin/setting/system/">システム設定2</a>
                                  </li>
                                  <li>
                                    <a href="/admin/setting/system/">システム設定3</a>
                                  </li>
                                  <li>
                                    <a href="/admin/setting/system/">システム設定4</a>
                                  </li>
                                </ul>
                                <!-- /.nav-third-level -->
                              </li>
			    </ul>
		       </li>
                    </ul>
