			    <?php $entities = $this->getEntities(); ?>
			    <?php foreach ($this->getSection() as $section) : ?>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#<?php echo $section['id'] ?>"><?php echo $section['title'] ?></a>
                                </h4>
                              </div>
                              <div id="<?php echo $section['id'] ?>" class="panel-collapse collapse">
				<div class="panel-body">
				  <div class="table-responsive">
                                    <table class="table">
                                      <thead>
					<tr>
					  <?php foreach ($this->getHead() as $key => $map): ?>
					  <th><?php echo $key; ?></th>
					  <?php endforeach; ?>
					</tr>
                                      </thead>
                                      <tbody>
					<?php foreach ($entities[$section['key']] as $tr) : ?>
					<tr <?php echo $tr['attrs'] ?>>
					  <?php foreach ($this->getHead() as $key => $map) : ?>
					  <td><?php echo $tr[$map]; ?></td>
					  <?php endforeach; ?>
					</tr>
					<?php endforeach; ?>
                                      </tbody>
                                    </table>
				  </div>
				  <!-- /.table-responsive -->
				  <?php if (isset($section['action'])) { echo $section['action']; } ?>
				</div>
			      </div>
			    </div>
			    <?php endforeach; ?>
