			    <?php $entities = $this->getEntities(); ?>
			    <?php $sections = array_shift($entities); ?>
			    <?php foreach ($sections as $section) : ?>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#<?php echo $section['nameHash'] ?>"><?php echo $section['file'] ?></a>
                                        </h4>
                                    </div>
                                    <div id="<?php echo $section['nameHash'] ?>" class="panel-collapse collapse">
                                      <div class="panel-body">
					<div class="table-responsive table-bordered">
					  <table class="tree">
					    <thead>
                                              <tr>
						<?php foreach ($this->getHead() as $head) : ?>
						<th><?php echo $head; ?></th>
						<?php endforeach; ?>
                                              </tr>
					    </thead>
					    <tbody>
					      <tr class="treegrid-1">
						<td>Root node</td><td>Additional info</td>
					      </tr>
					      <tr class="treegrid-2 treegrid-parent-1">
						<td>Node 1-1</td><td>Additional info</td>
					      </tr>
					      <tr class="treegrid-3 treegrid-parent-1">
						<td>Node 1-2</td><td>Additional info</td>
					      </tr>
					      <tr class="treegrid-4 treegrid-parent-3">
						<td>Node 1-2-1</td><td>Additional info</td>
					      </tr>
					      <?php foreach ($section as $row) : ?>
					      <tr>
					        <?php foreach ($this->getHead() as $head) : ?>
						   <?php if (isset($row[$head])) : ?>
					              <td><?php echo $row[$head]; ?></td>
						   <?php endif; ?>
						<?php endforeach; ?>
					      </tr>
					      <?php endforeach; ?>
					    </tbody>
					  </table>
					</div>
					<br/>
					<a href="/admin/cms/page/register/" class="btn btn-success btn-block">[<?php echo $section['file'] ?>]セクションで新しいページを作成</a>
				      </div>
                                    </div>
                                </div>
				<?php endforeach; ?>
