            <div class="row">
                <div class="col-lg-12">
                  <h1 class="page-header"><?php echo $this->getLayout()->getPageVar('title'); ?></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
	    <div class="row">
              <?php echo $this->getForm()->start() ?>
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-10">
                        <div class="form-group">
                          <label>URL</label>
                          <div class="input-group">
                            <span class="input-group-addon">http://framework.local/</span>
                            <input type="text" class="form-control" placeholder="url">
                          </div>
                        </div> 
                        <div class="form-group">
                          <label>レイヤアウト</label>
                          <select class="form-control">
                            <option>管理画面</option>
                            <option>管理画面2</option>
                            <option>フロント1</option>
                            <option>フロント2</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>ページ状態</label>
			  <div>
                            <label class="radio-inline">
                              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">非公開
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">公開
                            </label>
			  </div>
                        </div>
                        <div class="form-group">
                          <label>認証方法</label>
			  <div>
                            <label class="radio-inline">
                              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1">管理者認証
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">会員認証
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">認証なし			    
                            </label>
			  </div>
                        </div>			
                        <div class="form-group">
                          <label>keyword</label>
                          <input type="text" class="form-control" placeholder="keyword">
                        </div> 
			<div class="form-group">
                          <label>Description</label>
                          <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger btn-lg">登録</button>			
                        <button type="submit" class="btn btn-success btn-lg">戻る</button>			
                      </div>
                      <!-- /.col-lg-4 (nested) -->
                      <div class="col-lg-2">
			<br/>
                        <button type="submit" class="btn btn-danger btn-block btn-lg">登録</button>			
                        <button type="submit" class="btn btn-success btn-block btn-lg">戻る</button>			
                      </div>
                      <!-- /.col-lg-4 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                  </div>
                  <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
              </div>
              <!-- /.col-lg-12 -->
	      <?php echo $this->getForm()->end(); ?>
            </div>
            <!-- /.row -->
	    
